/* Style the header and navigation menu */
header {
    background-color: #364F6B; /* Background color of the header */
    color: #fff; /* Text color */
    padding: 20px; /* Add padding to the header */
    position: fixed; /* Fixed position to keep it at the top */
    top: 0; /* Stick it to the top of the viewport */
    width: 100%; /* Make it span the full width */
    z-index: 1000;
}

nav {
    position: absolute; /* Absolute positioning for the navigation menu */
    top: 50px; /* Adjust the top distance as needed */
    right: 50px; /* Adjust the right distance as needed */
}

nav ul {
    list-style-type: none; /* Remove list bullets */
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline; /* Display list items horizontally */
    margin-right: 10px; /* Add spacing between menu items */
}

nav ul li:last-child {
    margin-right: 0; /* Remove margin from the last menu item */
}

nav ul li a {
    text-decoration: none; /* Remove underlines from links */
    color: #fff; /* Link color */
    font-weight: bold; /* Make links bold */
}



/* Add more styles for additional sections */

/* Adjust the layout on smaller screens */
@media (max-width: 768px) {
    .column {
        flex: 0 0 100%; /* Full width on smaller screens */
    }
    .column .left,
    .column .right {
        flex: 0 0 100%; /* Full width for both image and text on smaller screens */
    }
}

/* Style the footer */
footer {
    background-color: #364F6B; 
    color: #fff; 
    padding: 20px; 
    text-align: center; 
}

footer p {
    margin: 5px 0; 
}
/* Ensure the footer stays at the bottom */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}
/* Style for the active menu item */
nav ul li a.active {
    background-color: #FFDE7D; /* Change background color */
    color: #fff; /* Change text color */
}
/* Style for the entire section */

/* Style for the image container */
.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between images as needed */
}

/* Style for the images */
.image-container img {
    width: 20px; /* Set the desired width */
    height: 15px; /* Set the desired height */
    object-fit: cover; /* Maintain aspect ratio and crop if necessary */
}

/* Style for the entire section */
.profile {
    margin-top: 80px;
    background-color: #FFDE7D;
    padding: 20px;
    text-align:start; /* Center-align content */
}

/* Style for the title */
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px; /* Spacing below the title */
}

/* Style for the profile photo */
.profile-photo img {
    max-width: 20%; /* Ensure the image doesn't exceed its container */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Spacing below the image */
}

/* Style for the description */
.description {
    font-size: 16px;
    line-height: 1.5; /* Line spacing for readability */
}

